
/*Generales*/
/* header */
body {
	line-height: 1;
	color: #51565b;
	background: #f1f1f1 url(../imagenes/bg/patterns/noise.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size:  100%;
}

.wrapper{
	width: 100%;
	margin: 0px auto;
	position: relative;
    float:center;
}

#header{
	height: 117px;
    width:100%;
    padding:10px;
	position: relative;
	z-index: 10;
	background: #2a2d30 url(../imagenes/header-glow.png) top center no-repeat;
}

#logo{
	position: relative;
	top: 35px;
	left: 30px;
}

/* MENU ------------------------------------------------------------*/

#menu{
	width: 100%;
    float:center;
    height:80px;
	padding-top: 1px;
	margin-bottom: 0px;
	background: #f858ef; 
	background: -webkit-gradient(linear, left top, right bottom, from(#f858ef), to(#ffe413)); 
	background: -moz-linear-gradient(left,  #f858ef,  #ffe413);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f858ef', endColorstr='#ffe413', GradientType=1);
}

#menu-holder{
	width: 100%;
    padding:10px;
	height: 79px;
	background:  url(../imagenes/menu-bg.png) repeat-x;
}

/* NAVIGATION --------------------------------------------------------*/


#nav{
	display: block;
	position: relative;
	top: 0px;
	left: 30px;
	height: 79px;
	width: 906px;
}

#nav>li{
	display: block;
	float: left;
	height: 100%;
	margin-right: 32px;
}

#nav>li:first-child{}

#nav>li>a{
	display: block;
	font-size: 16px;
	color: #bac0c9;
	text-decoration: none;
	margin-top: 7px;
	text-shadow: 0px -2px rgba(0, 0, 0, .8);
}

#nav>li>a>span.subheader{
	display: block;
	font-size: 11px;
	color: #656b74;
	font-style: italic;
	margin-top: 10px;
}

#nav>li.current-menu-item{
	background: url(../imagenes/menu-arrow.png) no-repeat center bottom;
}


#nav>li:hover>a{
	color: #fff;
}

/* sub navigation */

#nav>li ul{
	display: block;
	margin-top: 33px;
	background: #1d2023;
	border-radius: 0px 10px 0px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	
	-webkit-box-shadow: 0px 3px 2px rgba(0,0,0,0.4); 
	-moz-box-shadow: 0px 3px 2px rgba(0,0,0,0.4); 
	box-shadow: 0px 3px 2px rgba(0,0,0,0.4); 
}

#nav>li>ul ul{
	margin-top: 0px;
	border-radius: 0px 10px 10px 10px;
	-moz-border-radius: 0px 10px 10px 10px;
	-webkit-border-radius: 0px 10px 10px 10px;
}

#nav>li ul li a{
	display: block;
	padding: 10px 15px;
	display: block;
	font-size: 11px;
	color: #bac0c9;
	text-decoration: none;
}

#nav>li ul li a span{
	display: block;
}

#nav>li ul li a:hover{
	background: #000;
	color: #fff;
}

#nav>li ul li:last-child a:hover{ /* last item its rounded at bottom */
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}
/* Centro */
.main
{
	width: 100%;
    padding:10px;
    position:relative;
    float:100%;
}
#main
{
	width: 100%;
    padding:10px;
}
.cuerpo
{
    width: 100%;
    min-height:1000px;
}
#cuerpo
{
    width: 100%;
    min-height:1000px;
}

#content a{
	color: #37b2d1;
}

#content p{
	margin-bottom: 20px;
}

#content .line-divider{
	clear: both;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#content .filter{
	display: block;
	overflow: hidden;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

#content .filter li{
	display: block;
	float: left;
	font-size: 12px;
	line-height: 14px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 3px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	background: #d1d1d1;
	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#f1f1f1)); 
	background: -moz-linear-gradient(top,  #d1d1d1,  #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f1f1f1', GradientType=0);
	border-top: 1px solid #bcbcbc;
}


#content .filter li a{	
	display: block;
	color: #606060;
	text-decoration: none;
	width: 100%;
	height: 100%;
}


#content .filter li:first-child:hover{
	background: none;
}

#content .filter li.active,
#content .filter li:hover{
	background: #000;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
	box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
}

#content .filter li:hover a,
#content .filter li.active a{	
	color: #f1f1f1;
}

#content .filter li:first-child,
#content .filter li:first-child:hover{
	background: none;
	border: none;
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.0); 
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.0); 
	box-shadow: 0px 0px 0px rgba(0,0,0,.0);
}

/* TITLE --------------------------------------------------------*/

#page-title{
	overflow: hidden;
	height: 103px;
	margin-bottom: 30px;
	background:  url(../imagenes/tabs-divider.png) repeat-x bottom center;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
    float:left;
    width:100%;
}

#page-title .title{
	display: block;
	float: left;
	font-family: 'Ubuntu', arial, serif;
	font-size: 35px;
	line-height: 103px;
	margin-left: 30px;
}

#page-title .subtitle{
	display: block;
	float: left;
	margin-left: 30px;
	font-size: 14px;
	margin-top: 4px;
	line-height: 103px;
	color: #929191;
	font-style: italic;	
}

#page-content{
	float: left;
	width: 906px;
	margin-left: 30px;
	line-height: 1.5em;
}

/*Columnas*/
.derecha
{
    width: 68%;
    float:right;   
    background-color:transparent;   
    padding:10px;
    overflow: hidden;
}

.izquierda
{
    width: 25%;
    float:left;
    background-color:transparent;    
    padding:10px;
    overflow: hidden;
}

/*******************************
 *Formularios*
 * ************************** */
.edt{
	background-color: rgb(204,204,255);
	border: 1px; 
  	border-color: rgb(255,255,153); 
  	border-radius: 4px;
    margin-top:5px;
}
.btn{
	border: 2px;   	
  	border-radius: 4px;	
  	text-shadow: #555 1px 1px 1px;
    margin-top:5px;
    height:20px
}

.form{
	background-color: transparent;
    padding:15px;
    margin:15px;
}
/* SIDEBAR ------------------------------------------------------------*/

#sidebar {
	float: left;
	width: 280px;
	padding: 20px 0px 0px 0px;
    background-color:rgb(230,230,250);
    border-radius:8px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	
}

#sidebar li {
	padding-left: 15px;	
	border-bottom: 3px solid #E5E5E5;
    list-style: none;
    height: 15px;
	margin-bottom: 10px;
	padding: 12px 0px 0px 15px;	
	font-size: 18px;
	line-height: 5px;
}

/* HEADERS --------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{ 
	line-height: 1.4em;
	font-family: 'Ubuntu', arial, serif; 
	font-weight: lighter;
}

h1{ font-size: 30px; }

h2{ 
    font-size: 24px;
    
    background:rgb(204,204,255);
    text-align:center;
    border-radius:4px;
    text-shadow: #555 1px 2px 1px;
}

h3{ font-size: 26px; }

h4{ font-size: 24px; }

h5{ font-size: 22px; }

h6{ font-size: 20px; }


/* Pie de pagina*/

footer{
	position:relative;
	height:20px;
	clear:both;
	width:100%;
	margin-bottom:18px;
	background-color:transparent;
    border-radius: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-image: linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);
    background-image: -o-linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(200,200,199)),
	color-stop(0, rgb(53,29,237)),
	color-stop(0.78, rgb(20,20,20))
);
	}

#footer{
	position:relative;
	height:20px;
	clear:both;
	width:100%;
	margin-bottom:18px;
	background-color:transparent;
    border-radius: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-image: linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);
    background-image: -o-linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(200,200,199) 0%, rgb(53,29,237) 0%, rgb(20,20,20) 78%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(200,200,199)),
	color-stop(0, rgb(53,29,237)),
	color-stop(0.78, rgb(20,20,20))
);
	}

#footer li{
    list-style-type:none;
    
}

#footer a{
    text-decoration:none;
    color: rgb(250,250,250);
}

#footer a:hover{
    text-decoration:none;
    color: rgb(250,250,250);
    font-weight:bold;
}
    
#FooterOne, #FooterTwo, #FooterTree {
	position: absolute;	
    vertical-align:top;
}

#FooterOne{
    position: absolute;;
	left: 25px;
    color:white;
}

#FooterTwo{
	position: absolute;
	left: 240px;
	top:26px;
	color:white;
    
}

#FooterTree{
	position: absolute;
	right: 225px;
	top:26px;
	color:white;

}

#FooterTree a{
    text-decoration:none;    
}

#FooterTree a:hover{
    text-decoration:none;
    font-weight:bold;
}

.container{
    width:100%;
    margin:0 auto;
	background-color:transparent;
    text-align:center;
    color: rgb(240,240,240);
    font-size:10px;
}
